# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Android / IntelliJ / Studio
android/.gradle/
android/local.properties
*.iml
.idea/
*.ipr
*.iws

# iOS / macOS
ios/Pods/
ios/.symlinks/
macos/Pods/
macos/.symlinks/

# Logs
*.log

# Coverage
coverage/

# Misc
.DS_Store
Thumbs.db